{% extends "layout.html" %}
{% load static %}

{% block tienda %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>El ID de la imagen es: {{ producto.id }}</h1>
            
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" width="20%" alt="Imagen de {{ producto.nombre }}">
            {% else %}
                <p>No hay imagen disponible.</p>
            {% endif %}
            
            <a href="{% url 'ejemplo_localstorage' %}">Ir a tienda</a>
        </div>
    </div>
</div>
{% endblock %}
